.Container {
  background-color: #0f044c;
  height: 50vh;
  width: 80vw;
  border: #0f044c solid;
  border-radius: 20px;
  margin: auto;
  margin-top: 70px;
  box-shadow: 5px 5px 10px black;

  text-align: center;
}
.arrayRectangle {
  display: inline-block;
  width: 2px;
  height: 500px;
  background: cornflowerblue;
  vertical-align: bottom;
}
.arrayContainer {
  // border: 2px solid green;
  margin-top: 100px;
}
